
/*Navigation bar*/
/*body{
  background-color: #E5E5E5;
}*/
.navbar{
  font-family : Geneva;
  background-color : #1D1C1A;
  padding: :2px;
}


.btn{
  background-color: #F0DEB0;
  font-weight: bold;
}
#fn{
  font-family: cursive;
  color: #E2C275;
  font-size: 35px;

}
#context{
  margin-top: 550px;
}
#offcanvasRight{
  background-color: #E5E3C9;
}

/*Pets's details form*/

.main{
  width : 600px;
  height : 690px;
  margin : 100px auto 0px auto;
  background-color:rgb(46, 45, 45);
  border-radius:10px;
  border-color:#CED4DA;
}

h2{
  text-align: center;
  padding 20px;
  font-family : Franklin Gothic;
  font-style: bold;
  color:White;
}


div.reg{
  width:100%;
  font-size:17px;
  border-radius:10px;
  color : white;
  font-family : calibri;

}

label{
font-family : calibri;
}

input#sub{
width: 100px;
padding: 6px;
font-family:calibri;
font-weight:600;
border-radius: 10px;
border-color:#E2C477;
background-color: #E2C479;
}

th, td {
padding:10px;
text-align:left;
}

/*footer*/

.card {
padding: 2% 7%;
color: #646771;
background-color: #2A2424;
}

ul {
list-style-type: none;
margin: 0;
padding: 0
}

ul>li {
padding: 4px
}

ul>li:hover {
color: #957bda;
cursor: pointer
}

hr {
border-width: 3px
}

.social>i {
padding: 1%;
font-size: 15px
}

.social>i:hover {
color: #957bda;
cursor: pointer
}

.policy>div {
padding: 4px
}

.heading {
font-family: 'Titillium Web', sans-serif;
color: #C89D5C;
}

.divider {
border-top: 2px solid rgba(189, 196, 203, 0.5);
}

/*Gallery css*/

body {
  background: #f4f4f4;
}

.banner {
  background: #18181A;
  background: -webkit-linear-gradient(to right, #18181A, #5B4D49, #463731);
  background: linear-gradient(to right,#18181A,#564843, rgb(46, 45, 45), rgb(46, 45, 45),#797774);
}



*{
   font-family: 'Montserrat', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
   transition: all .2s linear;
}

body{
 background-color: #ffff;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding:25px 20px;
}

.container .heading{
  font-size: 40px;
  margin-bottom: 20px;
  color:#334;
}

.container .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap:20px;
}

.container .box-container .box{
  background-color: rgb(46, 45, 45);
  padding:20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  display: none;
}

.container .box-container .box:nth-child(1),
.container .box-container .box:nth-child(2),
.container .box-container .box:nth-child(3){
  display: inline-block;
}

.container .box-container .box .image{
  margin-bottom: 20px;
  overflow: hidden;
  height: 250px;
  border-radius: 5px;
}

.container .box-container .box .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container .box-container .box:hover .image img{
  transform: scale(1.1);
}

.container .box-container .box .content h3{
  font-size: 20px;
  color:#ffff;
}

.container .box-container .box .content p{
  font-size: 15px;
  color:#777;
  line-height: 2;
  padding:15px 0;
}

.container .box-container .box .content .btn{
  display: inline-block;
  padding:10px 30px;
  border:1px solid #334;
  color:#334;
  font-size: 16px;
}

.container .box-container .box .content .btn:hover{
  background-color: crimson;
  border-color: crimson;
  color:#fff;
}

.container .box-container .box .content .icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 15px;
  border-top:1px solid #334;
}

.container .box-container .box .content .icons span{
  font-size: 14px;
  color:#777;
}

.container .box-container .box .content .icons span i{
  color:crimson;
  padding-right: 5px;
}

#load-more{
  margin-top: 20px;
  display: inline-block;
  padding:13px 30px;
  border:1px solid #334;
  color:#334;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
}

#load-more:hover{
  background-color: crimson;
  border-color: crimson;
  color:#fff;
}

@media (max-width:450px){

  .container .heading{
    font-size: 25px;
  }

  .container .box-container{
    grid-template-columns: 1fr;
  }

  .container .box-container .box .image{
    height: 200px;
  }

  .container .box-container .box .content p{
    font-size: 12px;
  }

  .container .box-container .box .content .icons span{
    font-size: 12px;
  }

}
